{{ if eq .chezmoi.os "windows" -}}
echo "Need to install package manger for windows"

{{ else if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -e
echo "======Beginning Setup for Linux======"
{{ template "install-tools-linux" . }}
{{ template "installers-script" . }}
{{ template "setup-bash" . }}
{{ template "setup-font" . }}

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -e
echo "======Beginning Setup for macOS======"
{{ template "install-tools-macos" . }}
{{ template "installers-script" . }}
{{ template "setup-zsh" . }}
{{ template "setup-font" . }}

{{ end -}}
