# Open a file in nvim after fzf'ing for it 
function fzvim() {
    nvim -o $(fzf)
}
# Extracts any archive(s) (if unp isn't installed)
function extract() {
	for archive in "$@"; do
		if [ -f "$archive" ]; then
			case $archive in
			*.tar.bz2) tar xvjf $archive ;;
			*.tar.gz) tar xvzf $archive ;;
			*.bz2) bunzip2 $archive ;;
			*.rar) rar x $archive ;;
			*.gz) gunzip $archive ;;
			*.tar) tar xvf $archive ;;
			*.tbz2) tar xvjf $archive ;;
			*.tgz) tar xvzf $archive ;;
			*.zip) unzip $archive ;;
			*.Z) uncompress $archive ;;
			*.7z) 7z x $archive ;;
			*) echo "don't know how to extract '$archive'..." ;;
			esac
		else
			echo "'$archive' is not a valid file!"
		fi
	done
}

# Searches for text in all files in the current folder
function ftext() {
	# -i case-insensitive
	# -I ignore binary files
	# -H causes filename to be printed
	# -r recursive search
	# -n causes line number to be printed
	# optional: -F treat search term as a literal, not a regular expression
	# optional: -l only print filenames and not the matching lines ex. grep -irl "$1" *
	grep -iIHrn --color=always "$1" . | less -r
}

# IP address lookup
alias whatismyip="whatsmyip"
function whatsmyip () {
    # Internal IP Lookup.
{{ if eq .chezmoi.os "linux" }}
    if command -v hostname &> /dev/null; then
        echo -n "Internal IP: "
        ip -4 addr show | grep -oP '(?<=inet\s)\d+(\.\d+){3}' | grep -v 127.0.0.1 | head -n 1
    else
        echo -n "Internal IP: "
        hostname -I | awk '{print $1}'
    fi
{{ else if eq .chezmoi.os "darwin" }}
    if command -v ipconfig &> /dev/null; then
        echo -n "Internal IP: "
        ipconfig getifaddr en0
{{ end -}}

    # External IP Lookup
    echo -n "External IP: "
    curl -4 ifconfig.me
}
