Host github.com
{{- if eq .chezmoi.os "darwin" }}
  IdentityFile ~/.ssh/id_ed25519
  PasswordAuthentication no
  KbdInteractiveAuthentication no
  AddKeysToAgent yes
  UseKeychain yes
{{- else if eq .chezmoi.os "linux" }}
  IdentityFile ~/.ssh/id_ed25519
  PasswordAuthentication no
  KbdInteractiveAuthentication no
{{- end }}
Host jacobpi.local
    IdentityFile ~/.ssh/jacobpi
    PasswordAuthentication no
    KbdInteractiveAuthentication no
